.about
  padding-top: 130px
  padding-bottom: 50px
  background-color: $bg-gray

  &__description
    width: 80%
    margin: 0 auto
    padding-top: 25px
    color: #000
    font-family: 'Circe Light', sans-serif
    font-size: 18px
    text-align: center

  &__gallery
    padding-top: 45px

.gallery
  height: 375px
  margin-top: 10px
  border-radius: 4px

  &-thumbs
    height: 90px
    .swiper-slide
      border-radius: 4px

  .swiper-slide
    background-size: cover
    border-radius: 4px

  .swiper-button-next,
  .swiper-button-prev
    color: #fff !important

.swiper-pagination
   position: static !important
   margin: 0 auto
   padding-top: 45px

.swiper-pagination-bullet
  width: 24px !important
  height: 1px !important
  background: #c6c6c6 !important
  opacity: 1 !important
  border-radius: unset !important
  margin-right: 5px
  margin-left: 5px
  &:focus
    outline: none

  &-active
    height: 6px !important


@media screen and (max-width: 992px)
  .about
    padding-top: 50px

@media screen and (max-width: 768px)
  .about__description
    width: 100%
    text-align: left
  .gallery-thumbs,
  .swiper-pagination
    display: none

@media screen and (max-width: 576px)
  .gallery
    height: 60vw

