.calculator
  padding-top: 140px
  padding-bottom: 125px
  &_result
    display: none

  &__block
    display: block
    height: 100%
    background-color: $bg-gray
    padding: 40px 2px 40px 0
    text-align: center

    &_empty
      cursor: default

    &:not(.calculator__block_empty)
      &:hover,
      &:focus
        background-color: $pink
        border-radius: 4px !important
        text-decoration: none
        cursor: pointer
        transition: $transition_default

        .calculator__model
          color: #fff

  &__model
    margin-bottom: 0
    color: #000
    font-size: 24px

  &__row
    padding-top: 60px
    margin-right: 0
    margin-left: 0
    &_bordered
      padding-top: 0
      margin-top: 60px
      border-radius: 4px
      border: 2px solid #fafafa

    & > div
      padding-right: 2px
      padding-left: 2px

    &-wrapper
      &:nth-child(1)
        .calculator__block
          border-radius: 4px 0 0 0

      &:nth-child(4)
        .calculator__block
          border-radius: 0 4px 0 0

      &:nth-last-child(1)
        .calculator__block
          border-radius: 0 0 4px 0

      &:nth-last-child(4)
        .calculator__block
          border-radius: 0 0 0 4px
  &__advantages
    width: 33%
    position: relative
    padding-left: 94px!important
    padding-top: 35px
    padding-bottom: 30px
    background-color: $bg-gray
  &__header
    font-size: 28px!important
    margin-bottom: 0
  &__subheader
    font-size: 28px!important
    padding-top: 8px!important
    margin-bottom: 0
  &__form
    &-wrapper
      width: 67%
      padding-top: 45px
      .modal__form
        width: 225px
      .btn
        width: 100%
      .modal__agree
        width: 351px
        margin: 0 auto
        text-align: center
        font-family: 'Circe Light', sans-serif!important
        font-size: 14px!important
  &__motivate
    margin-bottom: 4px
    font-family: Circe, sans-serif
    font-size: 22px
    color: #000
    text-align: center

.advantages
  &__block
    font-family: 'Circe Light', sans-serif
    color: #000
    font-size: 18px
    strong
      font-family: "Circe Bold", sans-serif
    &:before
      content: ''
      position: absolute
      left: 32px
      display: block
      width: 38px
      height: 38px
      background-image: url("../images/calculatro-sprite.png")
      background-repeat: no-repeat
      background-position-y: 9px
    &:nth-child(2)
      &:before
        background-position-y: -64px
    &:nth-child(3)
      &:before
        background-position-y: -139px
    &:nth-child(4)
      &:before
        background-position-y: -215px
    &_sum
      &:before
        background-position-y: -617px

.calculator__problem
  padding-top: 100px
  padding-bottom: 125px

.calculator__not-found
  padding-top: 90px
  padding-bottom: 125px
  .section__subheader
    padding-top: 8px
@media screen and (max-width: 992px)
  .calculator
    padding-top: 50px
    padding-bottom: 50px
    &__block
      padding: 25px 2px 25px 0
  .calculator__problem
    padding-top: 50px
    padding-bottom: 50px
  .calculator__not-found
    padding-top: 50px
    padding-bottom: 50px

@media screen and (max-width: 768px)
  .calculator
    &__subheader
      font-size: 22px!important
  .calculator__row-wrapper
    border-radius: unset
    &:nth-child(1)
      .calculator__block
        border-radius: 4px 4px 0 0
  .calculator__block_empty
    display: none
  .calculator__row_bordered
    flex-direction: column
    margin-top: 20px
  .calculator__advantages
    width: 100%
  .calculator__form-wrapper
    width: 100%
    .modal__form
      width: 100%
    .modal__agree
      width: 100%
      font-size: 9px!important
  .calculator__problem
    padding-top: 50px
    padding-bottom: 50px
  .calculator__not-found
    padding-top: 50px
    padding-bottom: 50px