.contacts
  background-color: $bg-gray

  .section__header
    text-align: left
    padding-bottom: 50px

  &__map
    width: 60%

  &__content
    padding: 100px 0 80px 45px

  &__item
    display: flex
    align-items: center
    margin-bottom: 20px
    font-family: 'Circe Light', sans-serif
    font-size: 18px
    color: #000

    &:before
      content: ''
      display: block
      width: 15px
      height: 19px
      margin-right: 10px
      background-image: url("../images/contacts-sprite.svg")
      background-repeat: no-repeat
      background-size: cover

    &:nth-child(2)
      &:before
        background-position-x: -25px

    &:nth-child(3)
      &:before
        background-position-x: -56px

    &:nth-child(4)
      &:before
        background-position-x: -56px

    &_phone
      margin-bottom: 0
      margin-top: 25px
      font-family: "Circe Bold", sans-serif
      color: $pink
      font-size: 30px

      &:before
        background-image: url("../images/top-menu-sprite.svg")
        width: 19px

      &:hover,
      &:focus
        color: $pink !important

    &:hover,
    &:focus
      color: inherit
      text-decoration: none

@media screen and (max-width: 992px)
  .contacts
    &__content
      padding: 50px 15px
@media screen and (max-width: 767px)
  .contacts
    &__row
      flex-direction: column-reverse

    &__content
      min-width: 540px
      margin: 0 auto
      padding: 50px 15px
    .section__header
      padding-bottom: 20px

    &__map
      width: 100%
      height: 100vw
@media screen and (max-width: 576px)
  .contacts
    &__content
      max-width: 540px
      min-width: auto
