.feedbacks
  padding-top: 160px
  padding-bottom: 125px
  background-color: $bg-gray
  .swiper-slide
    border-radius: 4px
    height: auto
  &__gallery
    margin-top: 80px
    position: relative
    .swiper-button-next
      right: -56px
    .swiper-button-prev
      left: -66px
  .btn
    margin: 66px auto 0
    padding: 17px 0
  &_swiper
    border-radius: 4px
    &:hover
      box-shadow: 0 33px 62px rgba(0, 0, 0, 0.07)
      transition: $transition_default

.feedback
  &__image
    width: 25%
    background-size: cover
    background-repeat: no-repeat
    background-color: #fff
    flex-shrink: 0
    border-radius: 4px 0 0 4px
  &__text
    width: 75%
    padding: 50px 70px 55px 22px
    background-color: #fff
    cursor: default

  &__name
    font-family: "Circe Bold", sans-serif
    color: #000
    font-size: 18px
  &__age
    color: #ccc
    text-align: left
  &__date
    font-size: 14px
    color: #000
  &__content
    font-family: 'Circe Light', sans-serif
    line-height: 1
    color: #000
    text-align: left
@media screen and (max-width: 992px)
  .feedback__text
    padding: 10px 20px 10px 12px
  .feedbacks
    padding-top: 50px
    padding-bottom: 50px
    .btn
      margin-top: 50px
    &__gallery
      .swiper-button-next
        right: -20px
      .swiper-button-prev
        left: -20px
@media screen and (max-width: 768px)
  .feedback__image
    display: none
  .feedbacks
    .btn
      margin: 0
      width: 100%


    &__gallery
      margin-top: 20px
      padding-bottom: 0
      margin-bottom: 50px

      .swiper-button-next
        right: -14px
      .swiper-button-prev
        left: -14px
  .feedback
    &__content
      text-align: left
    &__text
      width: 100%
      padding: 12px
    &__age
      display: none



