.footer
  padding-top: 90px
  padding-bottom: 100px

  &__policy
    padding-right: 29px
    color: #000
    text-decoration: underline
    &:hover
      color: #7f7878
      transition: $transition_default

  &__develop
    display: flex
    justify-content: center
    align-items: center
    padding-left: 29px

    &-text
      margin-bottom: 0

    &-logo
      width: 81px

@media screen and (max-width: 992px)
  .footer
    padding-top: 50px
    padding-bottom: 50px
    .container
      flex-direction: column

      &:nth-child(2)
        flex-direction: row

    .navbar__contacts_footer
      display: flex
      width: 100%

    .navbar__contacts-block_footer
      justify-content: center

@media screen and (max-width: 576px)
  .footer

    .container
      flex-direction: column

      &:nth-child(2)
        flex-direction: column

    &__develop
      padding-left: 0

    &__policy
      padding-right: 0
  .navbar__contacts_footer
    padding-top: 20px
    flex-direction: column
  .navbar__contacts-block_footer
    width: 100%
    padding-bottom: 20px

    .btn
      width: 100%

