.garantee
  padding-top: 160px
  padding-bottom: 150px
  background-color: $bg-gray
  &__row
    padding-top: 50px
    margin-right: -65px
    margin-left: -65px
  &__block
    padding-right: 65px
    padding-left: 65px
  &__image
    height: 335px
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    border-radius: 4px
  &__header
    padding-top: 25px
    color: #000000
    font-family: "Circe Bold", sans-serif
    font-size: 18px
    line-height: 1
  &__text
    font-family: 'Circe Light', sans-serif
    line-height: 25px
@media screen and (max-width: 1200px)
  .garantee
    &__row
      margin-left: -35px
      margin-right: -35px
    &__block
      padding-right: 35px
      padding-left: 35px
@media screen and (max-width: 992px)
  .garantee
    padding-top: 50px
    padding-bottom: 50px
    &__image
      height: 235px
    &__row
      margin-left: -20px
      margin-right: -20px
    &__block
      padding-right: 20px
      padding-left: 20px

@media screen and (max-width: 768px)
  .garantee
    &__header
      text-align: left
    &__text
      text-align: left
