.navbar
  flex-direction: column
  padding: 0

  &__logo
    display: flex
    flex-shrink: 0

    &:hover,
    &:focus
      text-decoration: none

    &-img
      background-image: url("../images/logo.svg")
      background-size: contain
      background-repeat: no-repeat
      width: 114px
      height: 30px
      padding-right: 8px

    &-text
      padding-top: 3px
      padding-left: 8px
      color: #000000
      font-family: Circe, sans-serif
      font-size: 12px
      font-weight: 300
      line-height: 1.1

  &__top
    display: flex
    position: relative
    z-index: 1050
    flex-wrap: nowrap
    justify-content: space-between
    width: 100%
    padding: 22px 0
    background: #fff

  &__bottom
    width: 100%
    background-color: #f8f8f8
    border-bottom: 2px solid #fff

  &__contact
    margin-bottom: 0
    color: #121a27

    &_address
      font-size: 14px
      font-weight: 400

    &_email,
    &_phone
      font-family: 'Circe Bold', sans-serif
      font-size: 16px

      &:hover,
      &:focus
        color: #808fa7
        text-decoration: none

  &__contacts
    display: flex
    justify-content: flex-end
    flex-shrink: 0
    &_mobile
      display: none

    &-block
      display: flex
      flex-shrink: 0
      align-items: center
      padding-right: 22px
      padding-left: 22px


      &:nth-child(1)
        padding-left: 0

      &:nth-child(2)
        &:before
          background-position-x: 4px

      &:nth-child(3)
        &:before
          background-position-x: -40px

      &:nth-last-child(1)
        padding-right: 0

        &:before
          display: none

      &:before
        content: ''
        display: block
        width: 18px
        height: 14px
        margin-right: 7px
        background-image: url("../images/top-menu-sprite.svg")
        background-size: cover
        background-repeat: no-repeat
        background-position-x: -85px

.header
  &__promo
    padding-top: 72px
    padding-bottom: 26px
    background-color: #f8f8f8
    overflow: hidden

    &-header
      color: #000000
      font-family: 'Circe Bold', sans-serif
      font-size: 48px
      font-weight: 700
      margin-bottom: 2px

    &-subheader
      margin-bottom: 0
      font-family: 'Circe Light', sans-serif
      color: #120a8f
      font-size: 32px
      font-weight: 300

    &-check
      padding-right: 22px
      color: #000000
      font-family: 'Circe Bold', sans-serif
      font-size: 18px

  &__advantages
    display: flex
    flex-direction: column
    padding-top: 60px

    &-block
      padding-left: 22px
      padding-right: 22px
      padding-bottom: 60px
      text-align: center

      &:nth-child(1)
        padding-left: 15px

      &:nth-child(2)
        p:before
          background-position-x: -49px

      &:nth-child(3)
        p:before
          background-position-x: -96px

    &-text
      display: flex
      flex-direction: column
      align-items: center
      color: #000
      font-size: 16px
      font-weight: 300
      line-height: 1

      &:before
        content: ''
        display: block
        margin-bottom: 22px
        background-image: url("../images/advantages-sprite.svg")
        background-size: cover
        background-repeat: no-repeat
        width: 23px
        height: 23px

  &__image
    display: none
    margin-top: -5px

    img
      width: 430px


.menu
  width: 100%
  &_navbar-fixed
    display: none

  &__items
    display: flex
    width: 100%
    padding: 0
    margin: 0
    justify-content: space-between
    &_navbar-fixed
      justify-content: center

  &__item
    list-style: none
    &_navbar-fixed
      padding-left: 18px
      padding-right: 18px

  &__link
    position: relative
    display: block
    padding: 9px 35px 9px
    color: #717171
    font-family: 'Circe bold', sans-serif
    font-size: 14px
    font-weight: 700
    &_navbar-fixed
      padding-left: 0
      padding-right: 0
    &:after
      content: ''
      display: block
      position: absolute
      bottom: 0
      left: 50%
      width: 0
      height: 0
      border-top: 3px solid #120a8f
      border-top-right-radius: 3px
      border-top-left-radius: 3px
      transition: $transition_default



    &:hover
      color: #000
      text-decoration: none
      &:after
        left: 0
        width: 100%
        transition: $transition_default

      &:after
        content: ''
        display: block
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 0
        border-top: 3px solid #120a8f
        border-top-right-radius: 3px
        border-top-left-radius: 3px
        transition: $transition_default

@media screen and (max-width: 1200px)
  .navbar
    &__contacts
      flex-wrap: wrap
      &_lg-fixed
        flex-direction: column

      &-block
        width: 50%
        display: flex
        justify-content: flex-end
        padding-right: 0
        padding-left: 0
        &_lg-fixed
          width: 100%
  .header
    &__image
      margin-top: 60px

      img
        width: 100%

@media screen and (max-width: 991px)
  .header
      &__promo
        padding-top: 45px
      &__advantages
        padding-top: 30px
        &-block
          padding-bottom: 30px
  .navbar
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 1030
    &__contacts
      display: none

      &-block
        &_mobile
          width: 100%
          justify-content: center
          padding-bottom: 20px

      &_mobile
        display: block
        width: 100%
        padding-bottom: 20px

  .menu
    padding-top: 20px

    &__items
      flex-direction: column
      align-items: center

    &__item
      text-align: center

    &__link
      text-transform: uppercase


@media screen and (max-width: 576px)
  .header
    &__row
      padding-top: 20px
    &__promo
      padding-top: 30px

      &-header
        font-size: 28px
        line-height: 1
        padding-bottom: 10px

      &-subheader
        font-size: 20px
        line-height: 1

      &-check
        text-align: center
        line-height: 1
        padding-right: 0

    &__advantages
      padding-top: 30px
      flex-direction: column-reverse

      &-block
        width: 100%
        padding-bottom: 10px
        &:nth-child(2)
          p:before
            background-position-x: -86px
        &:nth-child(3)
          p:before
            background-position-x: -167px
      &-text
        &:before
          background-position-x: 3px
          width: 40px
          height: 40px
