.modal
  padding-right: 0!important
  &-open
    padding-right: 0!important
  &__close
    position: absolute
    right: 14px
    top: 11px
    width: 30px
    height: 30px
    background-image: url("../images/close.svg")
    background-size: 13px
    background-repeat: no-repeat
    background-position: center
    background-color: transparent
    border: none

  &__form
    width: 195px
    margin: 0 auto
    padding-top: 20px

    input,
    textarea
      padding: 19px 20px
      border-radius: 4px
      border: 1px solid #dddddd
      font-family: "Montserrat Semi Bold", sans-serif
      color: #010101
      font-size: 12px
      letter-spacing: -0.6px
      &:active,
      &:hover,
      &:focus
        outline-color: $pink
        border-color: $pink
        box-shadow: none
      &::placeholder
        color: #010101
    .form-group
      margin-bottom: 20px
  &__agree
    padding-top: 30px
    color: #121a27!important
    font-family: "Montserrat", sans-serif!important
    font-size: 12px!important
.contact__form
  .modal-dialog
    max-width: 780px
    margin-top: 200px

  .modal-header
    position: relative
    display: block
    padding-top: 50px
    padding-bottom: 10px
    border-bottom: none

  .modal-title
    margin: 0 auto
    font-family: "Montserrat Bold", sans-serif
    font-size: 32px
    font-weight: 700
    line-height: 1
    text-align: center

  .modal-body
    border-bottom: none
    padding-top: 10px
    padding-bottom: 24px
    text-align: center
    p
      font-family: "Montserrat", sans-serif
      font-size: 18px
      text-align: center
  .modal-footer
    border-top: none

@media screen and (max-width: 992px)
  .contact__form
    .modal-dialog
      max-width: 780px
      margin-top: 50px
    .modal
      &__form
        width: 50%
        .btn
          width: 100%
@media screen and (max-width: 768px)
  .modal
    &__form
      input,
      textarea
        text-align: center
  .contact__form
    .modal
      &__form
        width: 100%
        padding-top: 0
        .btn
          width: 100%
        input
          text-align: center
      &-body
        p
          font-size: 14px
      &__agree
        font-size: 7px!important


  

