
.swiper-button-prev:hover:after,
.swiper-button-next:hover:after
  color: $pink
  transition: $transition_default
.profies
  padding-top: 128px
  padding-bottom: 80px
  background-color: $bg-gray
  &__gallery
    position: relative
    padding-top: 40px

  &__swiper
    height: 450px
    width: 83%
    margin: 0 auto

    .swiper-slide
      height: 450px
      display: flex
      flex-direction: column
      justify-content: center
      &-name
        padding: 20px 0 0
        margin: 0
        font-family: 'Circe Bold', sans-serif
        font-size: 18px
        text-align: center


      &-text
        padding: 0
        margin: 0
        font-family: 'Circe Light', sans-serif
        text-align: center

      .swiper-slide-image
        background-size: cover
        background-position-x: center
        border-radius: 4px
        min-height: 335px
        transition: $transition_default
      &-active
        border-radius: 4px
        .swiper-slide-image
          background-size: cover
          border-radius: 4px
          min-height: 375px
          transition: $transition_default
    .swiper-button-prev
      left: -70px
      color: #000
      opacity: 1
      &:focus
        outline: none
    .swiper-button-next
      right: -70px
      color: #000!important
      opacity: 1!important
      &:after
        color: $pink
      &:focus
        outline: none!important

@media screen and (max-width: 992px)
  .profies
    padding-top: 50px
    padding-bottom: 50px

@media screen and (max-width: 768px)
  .profies
    padding-top: 50px

@media screen and (max-width: 576px)
  .profies
    &__swiper
      width: 100%



