.promo
  position: relative
  overflow: hidden
  padding-top: 70px
  padding-bottom: 80px
  &_black
    background-color: #000
  &_blue
    background-color: #0d0952
  &_bg
    background-image: url("../images/bg-min.png")
    background-size: auto 70%
    background-repeat: no-repeat
    background-position-x: calc((100vw - 1140px) / 2 + (1140px - 581px))
    background-position-y: bottom

  &__side
    &_left
      padding-right: 50px
    &_right
      padding-left: 50px
  &__text
    color: #fff
    font-family: 'Circe Light', sans-serif
    font-size: 36px

    strong
      font-family: 'Circe Bold', sans-serif
    &_pink
     color: $pink
  &__motivate
    padding-top: 44px
    color: #ffffff
    font-family: 'Circe Bold', sans-serif
    font-size: 18px
    font-weight: 700
  &__image
    width: 100%
    position: absolute
    img
      width: 400px
  &__input
    width: 195px!important
    margin-right: 20px
    color: #000
    &::placeholder
      color: #000
    &:active,
    &:hover,
    &:focus
      outline-color: $pink
      border-color: $pink
      box-shadow: none
      color: #000

  &__row
    margin-left: 0
    margin-right: 0
  &__agree
    padding-top: 20px
    font-family: "Circe Light", sans-serif
    color: #fff
    font-size: 13px
@media screen and (max-width: 1200px)
  .promo
    &__image
      img
        width: 250px
    &_black
      background-position-x: calc((100vw - 960px) / 2 + (960px - 581px))



@media screen and (max-width: 992px)
  .promo
    padding-top: 40px
    padding-bottom: 40px
    &__motivate
      padding-top: 20px
    &__side
     &_right
      display: none
     &_left
       padding-right: 0
    &_black
      background-image: none

@media screen and (max-width: 768px)
  .promo
    padding-top: 30px
    padding-bottom: 30px
    &__text
      font-size: 28px
      line-height: 1
    &__motivate
      padding-top: 20px
    &__input
      width: 100%!important
      margin-right: 0
      margin-bottom: 10px
    &__form
      flex-direction: column
    .form-group
      width: 100%
      margin-bottom: .5rem
    &__submit
      width: 100%!important



    
