.steps
  padding: 50px 0
  background-color: #000
  .btn
    width: 162px
    padding: 17px 0
  .section__header
    color: #fff
  &__row
    padding-top: 55px
    margin-left: -25px
    margin-right: 25px

  &__block
    position: relative
    display: flex
    width: 20%
    padding: 0 24px
    flex-direction: column
    align-items: center
    cursor: default
    &:nth-child(2)
      .steps__icon
        background-position-x: -77px
    &:nth-child(3)
      .steps__icon
        background-position-x: -239px
    &:nth-child(4)
      .steps__icon
        background-position-x: -328px
    &:nth-child(5)
      .steps__icon
        background-position-x: -159px
      &:after
        display: none
    &:after
      content: ''
      position: absolute
      width: 9px
      height: 15px
      right: -4.5px
      top: 98px
      background-image: url("../images/arrow.svg")
      background-size: cover
      background-repeat: no-repeat
    &:hover
      .steps__header,
      .steps__text
        color: $pink
        transition: $transition_default
      .steps__icon
        background-image: url("../images/steps-sprite-hover.svg")
        transition: $transition_default

  &__header
    width: 100% 
    margin-bottom: 0
    font-family: "Circe Bold", sans-serif
    color: #fff
    font-size: 23px
    text-align: center
  &__text
    width: 100%
    padding-top: 30px
    color: #fff
    font-family: 'Circe Light', sans-serif
    text-align: center
  &__icon
    width: 44px
    height: 44px
    margin-bottom: 35px
    background-image: url("../images/steps-sprite.svg")
    background-repeat: no-repeat
    background-size: cover
@media screen and (max-width: 992px)
  .steps
    &__row
      justify-content: center
    &__block
      width: calc(100% / 3)
@media screen and (max-width: 768px)
  .steps
    &__row
      margin-right: -15px
      margin-left: -15px
    &__text
      padding-top: 10px
    &__block
      width: 100%
      margin-bottom: 30px
      padding: 0 15px
      &:after
        display: none
    .btn
      width: 100%

