.summary
  padding-top: 80px
  padding-bottom: 0
  background-color: $bg-gray
  overflow: hidden
  &__row
    padding-top: 60px
    height: 424px
  &__block
    overflow: hidden
    cursor: default
    &:hover
      .summary__value,
      .summary__model
        color: $pink
        transition: $transition_default
      .summary__image img
        top: 30px
  &__model
    margin: 0
    padding-top: 10px
    padding-bottom: 22px
    line-height: 1
    color: #000000
    font-family: 'Circe Bold', sans-serif
    font-size: 23px
    text-align: center

  &__value
    margin: 0
    color: #000000
    font-family: "Circe Bold", sans-serif
    font-size: 62px
    text-align: center
    line-height: 1

  &__image
    img
      position: relative
      display: block
      top: 70px
      width: 213px
      margin: 0 auto
      transition: $transition_default
@media screen and (max-width: 992px)
  .summary
    padding-top: 40px
    &__row
      height: auto
      padding-bottom: 50px
    &__image
      display: none

@media screen and (max-width: 768px)
  .summary
    padding-top: 0
