.team
  padding: 80px 0
  background-color: #292929
  overflow: hidden
  .section__header
    width: 78%
    margin: 0 auto
    color: #fff
    -ms-text-align-last: right
    text-align: left


  &__side
    &_left
      height: 490px
      right: 200px
    &_right
      padding-top: 95px

  &__text
    width: 78%
    margin: 0 auto
    padding-top: 35px
    color: #fff
    font-family: 'Circe Light', sans-serif
    font-size: 18px
    line-height: 25px

  &__image
    img
      width: 115%
@media screen and (max-width: 1200px)
  .team
    padding-bottom: 50px
    &__side_left
      right: 30px
    &__side_right
      padding-top: 50px
@media screen and (max-width: 992px)
  .team
    .section__header
      width: 100%
    &__side_right
      padding-top: 0
    &__text
      width: 100%
    &__side_left
      height: 300px
      right: 50px
      

@media screen and (max-width: 768px)
  .team
    padding: 50px 0
    &__side_left
      display: none
    &__side_right
      margin-top: 20px
    .section__header
        width: 100%
        text-align: center
    &__text
      width: 100%
      text-align: left