$pink: #ff0096
$blue: #120a8f
$bg-gray: #fafafa
$transition_default: .3s ease-in

@import "header"
@import "calculator"
@import "promo"
@import "about"
@import "swiper"
@import "team"
@import "summary"
@import "profies"
@import "garantee"
@import "steps"
@import "feedbacks"
@import "contacts"
@import "footer"
@import "modal"

@font-face
  font-family: 'Circe'
  src: url('../fonts/Circe-Regular.eot')
  src: local("Circe"), local("Circe-Regular"), url('../fonts/Circe-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/Circe-Regular.woff') format("woff"), url('../fonts/Circe-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Circe Light'
  src: url('../fonts/Circe-Light.eot')
  src: local("Circe Light"), local("Circe-Light"), url('../fonts/Circe-Light.eot?#iefix') format("embedded-opentype"), url('../fonts/Circe-Light.woff') format("woff"), url('../fonts/Circe-Light.ttf') format("truetype")
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Circe Bold'
  src: url('../fonts/Circe-Bold.eot')
  src: local("Circe Bold"), local("Circe-Bold"), url('../fonts/Circe-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/Circe-Bold.woff') format("woff"), url('../fonts/Circe-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Regular.eot')
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url('../fonts/Montserrat-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/Montserrat-Regular.woff') format("woff"), url('../fonts/Montserrat-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Montserrat Bold'
  src: url('../fonts/Montserrat-Bold.eot')
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url('../fonts/Montserrat-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/Montserrat-Bold.woff') format("woff"), url('../fonts/Montserrat-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Montserrat Semi Bold'
  src: url('../fonts/Montserrat-SemiBold.eot')
  src: local("Montserrat Semi Bold"), local("Montserrat-SemiBold"), url('../fonts/Montserrat-SemiBold.eot?#iefix') format("embedded-opentype"), url('../fonts/Montserrat-SemiBold.woff') format("woff"), url('../fonts/Montserrat-SemiBold.ttf') format("truetype")
  font-weight: 600
  font-style: normal
  font-display: swap

*:focus,
*:active
  outline: none!important

html,
body
  font-family: 'Circe', sans-serif
  font-size: 16px
  overflow-x: hidden
body
  padding-top: 125px

.btn
  width: 195px
  padding: 10px 0
  border-radius: 4px
  background-color: $pink
  color: #ffffff
  font-family: 'Montserrat Bold', sans-serif
  font-size: 12px
  font-weight: 400
  text-transform: uppercase

  &:hover,
  &:focus
    background-color: #c50074
    color: #fff
    outline: none
    box-shadow: none

  &_blue
    background-color: $blue

    &:hover,
    &:focus
      background-color: #18136c

.container
  box-sizing: content-box

.collapse__wrapper
  width: 100%

.text-pink
  color: $pink
  white-space: nowrap

.section
  &__header
    margin-bottom: 0
    color: #000
    font-family: 'Circe Light', sans-serif
    font-size: 36px
    line-height: 1
    text-align: center
  &__subheader
    margin-bottom: 0
    padding-top: 25px
    color: #000
    font-family: 'Circe Light', sans-serif
    font-size: 18px
    line-height: 1
    text-align: center


.jq-hidden
  display: none
  animation-name: fadeInUp
  animation-duration: 1s
  animation-fill-mode: both
  &_fast
    animation-duration: .3s

  &_left
    animation-name: fadeInLeft
  &_fade
    animation-name: fadeIn

.scroll-indicator
  position: absolute
  top: calc(100vh + 1px)
  top: calc(var(--vh, 1vh) * 100 + 1px)
  width: 1px
  height: 1px
  background-color: transparent
.swiper-button-next,
.swiper-button-prev
  height: 100%
  width: 40px
  top: 0
  &:after
    content: ''
    display: block
    width: 8px
    height: 14px
    background-image: url("../images/arrows.png")
    background-size: cover
    background-repeat: no-repeat

  &:hover
    &:after
      background-image: url("../images/arrows_hover.png")

.swiper-button-next
  &:after
    background-position: -14px 0


.fixed-top
  padding-right: 0!important
  top: 0
  z-index: 1051

.gm-style .gm-style-cc,
.gm-style .gm-style-cc span,
.gm-style .gm-style-cc a,
.gm-style .gm-style-mtc div,
.gmnoprint > div
  display: none

@media screen and (max-width: 991px)
  body
    padding-top: 84px

@media screen and (max-width: 768px)
  .container
    box-sizing: border-box
  .section__header
    font-size: 28px

@media screen and (max-width: 576px)
  .btn
    &_xs-block
      width: 100%
  .container
    &_auto
      width: auto


@-webkit-keyframes fadeInUp
  from
    opacity: 0
    -webkit-transform: translate3d(0, 100%, 0)
    transform: translate3d(0, 100%, 0)

  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

@keyframes fadeInUp
  from
    opacity: 0
    -webkit-transform: translate3d(0, 100%, 0)
    transform: translate3d(0, 100%, 0)

  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

@-webkit-keyframes fadeInLeft
  from
    opacity: 0
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)


  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


@keyframes fadeInLeft
  from
    opacity: 0
    -webkit-transform: translate3d(-100%, 0, 0)
    transform: translate3d(-100%, 0, 0)


  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

@-webkit-keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1

@keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1






    
       

  

      